<% allrace = 0 %> 
<% winrace = 0 %>
<% greki = 0 %>
<% money1000 = 0 %>
<% searchall = 0 %> 

<p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>馬名</th>
            <th>生年</th>
            <th>性別</th>
            <th>父</th>
            <th>母父</th>
            <th>父父</th>
            <th>賞金</th>
        </tr>
    </thead>
    
<% @uma.each do |uma| %>

    <% unless uma.all == 0 %>
    <tbody>
        <tr>
            <small>
            <td><%= link_to uma.horse_name ,'https://db.netkeiba.com/horse/'"#{uma.horse_id}",:target=>["_blank"] %></td> 
            <td><%= uma.birthday.year %></td>
            <td><% if uma.sex == 'boba' %> <%= uma.sex.gsub('boba','牡') %>
                <% elsif  uma.sex == 'hinba' %> <%= uma.sex.gsub('hinba','牝') %> 
                <% end %></td>
            <td><%= uma.ml %></td>　
            <td><%= uma.ml2_f %></td>
            <td><%= uma.ml2 %></td>

            <td><div class="text-right"><%= uma.money.to_s(:delimited) %>円 </div></td>
            </small>
        </tr>
        
         <% winrace += uma.win %>
              <% if uma.ghistory >= 1 then uma.ghistory = 1 %>
                        <% greki += uma.ghistory %>
              <% end %>
              <% if uma.money >= 10000000 then uma.money = 1 %>
                        <% money1000 += uma.money %>
              <% end %>
        <% searchall += 1 %>
        <% allrace += uma.all %>
    
    <% end %>
  <% end %>
  </tbody>
</table>


        

       
<%= link_to 'うまサーチTOP' ,root_path %>

