<br>
<br>
<p class="bg-dark text-white"> 人気のうまサーチ</p> 

<%#= link_to '父：アイルハヴアナザー/母父父：サンデーサイレンス',"./horses?utf8=✓&ml=アイルハヴアナザー&utf8=✓&ml2=&utf8=✓&ml3a=&utf8=✓&ml2_f=&utf8=✓&ml3a_f=サンデーサイレンス&commit=Search" ,class: 'btn btn-light small' ,data: {"turbolinks" => false} %>

<%= link_to '父：アイルハヴアナザー/母父父：サンデーサイレンス',horses_path(:ml => 'アイルハヴアナザー',:ml2 => '',:ml3a => '',:ml2_f => '', :ml3a_f => 'サンデーサイレンス',:commit=> 'Search' ) ,class: 'btn btn-light small' ,data: {"turbolinks" => false} %> 
<%= link_to "父父：キングカメハメハ/母父：サンデーサイレンス",horses_path(:ml => '',:ml2 => 'キングカメハメハ',:ml3a => '',:ml2_f => 'サンデーサイレンス', :ml3a_f => '') ,class: 'btn btn-light small' ,data: {"turbolinks" => false}  %>
<%= link_to "父：スクリーンヒーロー",horses_path(:ml => 'スクリーンヒーロー',:ml2 => '',:ml3a => '',:ml2_f => '', :ml3a_f => '') ,class: 'btn btn-light small',data: {"turbolinks" => false}  %>
<%= link_to "父：ディープインパクト/母父：f",horses_path(:ml => 'ディープインパクト',:ml2 => '',:ml3a => '',:ml2_f => 'f', :ml3a_f => '') ,class: 'btn btn-light small',data: {"turbolinks" => false}  %>
<%= link_to "父：ブラックタイド/母父：オペラハウス",horses_path(:ml => 'ブラックタイド',:ml2 => '',:ml3a => '',:ml2_f => 'オペラハウス', :ml3a_f => '') ,class: 'btn btn-light small',data: {"turbolinks" => false}  %>
<%= link_to "父父：サンデーサイレンス/母父：stormcat",horses_path(:ml => '',:ml2 => 'サンデーサイレンス',:ml3a => '',:ml2_f => 'stormcat', :ml3a_f => '') ,class: 'btn btn-light small',data: {"turbolinks" => false}  %>
<%= link_to "母父：ブラックホーク",horses_path(:ml => '',:ml2 => '',:ml3a => '',:ml2_f => 'ブラックホーク', :ml3a_f => '') ,class: 'btn btn-light small',data: {"turbolinks" => false}  %>

<p><p>
