<h1>うまsearch</h1>
</p> 
<%#=  form_with(model: [post, post_comment], local: true, data: { persist: 'garlic' }) do |f|%>
<table class="table table-bordered small">

<tr>
    <td rowspan="4" class="table-primary">
    <p> 父:</p> 
        <%= form_tag(horses_path, :method => "get")  do %>
        <%= text_field_tag :ml , params[:ml] %>
    　　<%#= text_field_tag :ml ,@ml.pluck(:ml).uniq if params[:ml] %>
        <%#= text_field_tag :ml ,value: (params[:ml] if params[:ml]) %>
    </td>
    
    <td rowspan="2" class="table-primary">
        <p>父父：</p> 
        <%= form_tag(horses_path, :method => "get") do %>
        <%= text_field_tag :ml2 , params[:ml2] %>
    </td>
    
    <td class="table-primary">
        父父父:
        <%= form_tag(horses_path, :method => "get") do %>
        <%= text_field_tag :ml3a , params[:ml3a] %>
    </td> 
</tr>


<tr>

    <td  class="table-danger">
        父父母
    </td> 
</tr>  

<tr>
    <td rowspan="2" class="table-danger">
        父母  
    </td> 
       
    <td class="table-primary">
        父母父
    </td> 
</tr>  

<tr>

    <td class="table-danger">
        父母母
    </td> 
</tr>  

<tr>
    <td rowspan="4" class="table-danger">
        母
    </td> 
    
    <td rowspan="2" class="table-primary">
        <p>母父：</p> 
        <%= form_tag(horses_path, :method => "get") do %>
        <%= text_field_tag :ml2_f, params[:ml2_f] %>         
    </td> 
       
    <td class="table-primary">
        母父父： 
        <%= form_tag(horses_path, :method => "get") do %>
        <%= text_field_tag :ml3a_f , params[:ml3a_f]%>
    </td> 
</tr>  



<tr>
    <td class="table-danger">
        父父母
    </td> 
</tr>  

<tr>

    <td rowspan="2" class="table-danger">
        父母    
    </td> 
       
    <td class="table-primary">
        父母父
    </td> 
</tr>  

<tr>
    <td class="table-danger">
        父母母
    </td> 
</tr>  

</table>

      
    


    <% if params[:ml].present? || params[:ml2].present? || params[:ml3a].present? || params[:ml2_f].present? || params[:ml3a_f].present?  %>
        <p><%# >1発目の検索時は出さない</p> %> 
　　　　<%= check_box_tag :gwin %>
        <%= label_tag :gwin, "重賞勝ち馬のみ" %>
        
　　　　<%= check_box_tag :ghistory %>
        <%= label_tag :ghistory, "重賞出走歴あり" %>


        
        <%#= check_box_tag :sex %>
        <%#= label_tag :sex, "牡馬" %>       
         
        <p></p> <%= submit_tag 'Search', :ml => nil,  :ml2 => nil,  :ml3a => nil,:ml2_f => nil, :ml3a_f => nil ,:gwin => nil ,:ghistory  => nil %>
        
    <% elsif %>
         
    <p></p> <%= submit_tag 'Search', :ml => nil,  :ml2 => nil,:ml3a => nil,:ml2_f => nil, :ml3a_f => nil %>
    
    <% end %> 
       
    <%#= submit_tag 'Search', :ml ,:ml2 ,:ml2_f,:ml3a_f  %>
        <%#= form_tag(umas_path, :method => "get") do %>
    <%#= text_field_tag :money %>
    <%#= submit_tag 'Search', :horse_name => nil,:gwin => nil,:money => nil %>


<%# フォームの数だけend必要 忘れがち%>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>

<%# if false %>
    <%# if @gwin.present? || @ghistory.present? %>
    <% if @gcheck.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @gcheck %> 
    <% elsif @ghistory.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @ghistory %> 
    <% elsif @gwin.present? %>
        <% @uma = @ml & @ml2 & @ml3a & @ml2_f & @ml3a_f & @gwin %> 
    <% else %>
        <% @uma = @ml & @ml2 & @ml3a  &@ml2_f & @ml3a_f  %> 
    <% end %>
<%# end %>

<%# @uma = @ml & @ml2 & @ml2_f & @ml3a_f %>

<% if @uma == nil %>
        <p>いません。
<% end %>

<% if @uma.present?  %>

    <% if @uma.count >= 500 %>
    
        対象が多すぎます。もう少し絞ってください。
        
    <% else %>

    <%= render 'wcount',wcount: @uma %>
    
    <%= render 'list' %>

    <% end %>
        
<% end %>

<%# end %>
<%#= link_to　'Search', 'http://www.google.co.jp/' %>

<% if false %>
<% end %>